@layer slotted.components {
  .slotted-button-group {
    align-items: stretch;
    display: inline-flex;
    gap: var(--slotted-button-group-gap, 0px);
    isolation: isolate;
    max-inline-size: 100%;
    vertical-align: middle;
  }

  .slotted-button-group[data-orientation='vertical'] {
    flex-direction: column;
  }

  .slotted-button-group[data-orientation='horizontal'] > .slotted-button:not(:first-child) {
    border-start-start-radius: var(--slotted-button-group-inner-radius, 0px);
    border-end-start-radius: var(--slotted-button-group-inner-radius, 0px);
    margin-inline-start: var(--slotted-button-group-adjacent-offset, -1px);
  }

  .slotted-button-group[data-orientation='horizontal'] > .slotted-button:not(:last-child) {
    border-start-end-radius: var(--slotted-button-group-inner-radius, 0px);
    border-end-end-radius: var(--slotted-button-group-inner-radius, 0px);
  }

  .slotted-button-group[data-orientation='vertical'] > .slotted-button:not(:first-child) {
    border-start-start-radius: var(--slotted-button-group-inner-radius, 0px);
    border-start-end-radius: var(--slotted-button-group-inner-radius, 0px);
    margin-block-start: var(--slotted-button-group-adjacent-offset, -1px);
  }

  .slotted-button-group[data-orientation='vertical'] > .slotted-button:not(:last-child) {
    border-end-start-radius: var(--slotted-button-group-inner-radius, 0px);
    border-end-end-radius: var(--slotted-button-group-inner-radius, 0px);
  }

  .slotted-button-group > .slotted-button:hover:not([data-pressed]) {
    z-index: 1;
  }

  .slotted-button-group > .slotted-button:focus-visible {
    z-index: 2;
  }
}
